.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__menu {
  display: flex;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link_active {
  text-transform: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 138px;
  height: 108px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.header__address {
  display: block;
  justify-self: end;
  margin: 5px 0 2px 0;
  padding-right: 35px;
}

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 135px;
  color: #fff;
  text-transform: uppercase;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;;
} 

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 0 50px;
}

.aligned-text {
  display: block;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  line-height: 135%;
  text-align: center;
}

.aligned-text_right {
  line-height: 105%;
  text-align: right;
}


.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 78px;
}

.cover__description-text {
  align-self: center;
  font-size: 22px;
  line-height: 127%;
  word-spacing: 18px;
  font-weight: normal;
}

.cover-letter-spacing-extended {
  letter-spacing: 1.1em;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin: 178px 24px 146px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 334px;
  max-height: 563px;
}

.card-link {
  display: block;
  min-height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 51px 40px 48px 40px;
  color: #fff;
}

.card__title {
  z-index: 1;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-size: 20px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 2px 40px;
  font-size: 20px;
}

.about {
  margin: 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 72px;
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo {
  display: flex;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  place-self: center; 
  height: 114px;
}

.about__title {
  align-self: center;
  padding-top: 11px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  justify-content: space-around;
  gap: 24px;
  padding-top: 11px;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 88px;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.footer__address {
  display: block;
  justify-self: start;
  line-height: 135%;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-transform: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}